# Zkopírujte tento soubor jako .env.local (a taky jako .env) a doplňte hodnoty.

DATABASE_URL="file:./dev.db"

NEXTAUTH_SECRET=zmen-me-na-nahodny-retezec
NEXTAUTH_URL=http://localhost:3000

ADMIN_EMAILS=richard@cajkorenikava.cz

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
